.avaliadores {
  min-height: calc(100vh - 91px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.avaliador {
  width: 50%;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.feedback {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.feedback-content p {
  display: flex;
  justify-content: space-between;
}

.stars p {
  color: black;
  font-size: 25px;
  font-weight: 1000;

}

.comentario {
  font-size: 1.2em;
}