* {
  margin: 0;
  padding: 0;
  font-family: "Lora", sans-serif;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inconsolata:wdth,wght@130.7,200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eed3d1;
}

section {
  padding: 28px 8;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3a1a3;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-default:hover {
  background-color: #e6aea9;
}

/* From Uiverse.io by andrew-demchenk0 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-color: #30C04F;
}

.button:hover {
  background-color: #2bac47;
}

.item-telefone {
  width: 70px;
  height: 40px;

}

.numberphone {
  text-decoration: none;
  background-color: #d3a1a3;
}

.section-tittle {
  color: #d3a1a1;
  font-size: 1.563rem;
}

.section-subtittle {
  font-size: 2.1875rem;
}

/* a seguir: 3 pontinhos */
/*
.setting-btn {
width: 25px;
height: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 6px;
background-color: rgb(129, 110, 216);
border-radius: 10px;
cursor: pointer;
border: none;
box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}
.bar {
width: 50%;
height: 2px;
background-color: rgb(229, 229, 229);
display: flex;
align-items: center;
justify-content: center;
position: relative;
border-radius: 2px;
}
.bar::before {
content: "";
width: 2px;
height: 2px;
background-color: rgb(126, 117, 255);
position: absolute;
border-radius: 50%;
border: 2px solid white;
transition: all 0.3s;
box-shadow: 0px 0px 5px white;
}
.bar1::before {
transform: translateX(-4px);
}
.bar2::before {
transform: translateX(4px);
}
.setting-btn:hover .bar1::before {
transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
transform: translateX(-4px);
}
*/
/*Fim dos 3 pontinhos*/