.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.roupas {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 32px;
  flex-wrap: wrap;
}

.roupa {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 5px;
  width: 25%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.roupa img {
  border-radius: 20px;
}

.roupa-heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.536rem;
  width: 55px;
  height: 55px;
  right: -10px;
  top: -10px;
  background-color: #d3a1a3;
  border-radius: 0px 0px 0px 42.5px;
}

.roupa-description {
  color: #434343;
  text-align: center;
}

.roupa-price {
  display: flex;
  align-items: center;
  gap: 10px;
}